# Path to SQLite database file
DATABASE_URL=data/db.sqlite3

# Path to raw MoMo XML input
XML_INPUT_PATH=data/raw/momo.xml

# Path to processed dashboard JSON
DASHBOARD_JSON_PATH=data/processed/dashboard.json
