# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# Database
data/db.sqlite3

# Raw/private data
data/raw/*
!data/raw/.gitkeep

# Generated/processed data
data/processed/*
!data/processed/.gitkeep

# Logs
data/logs/*
!data/logs/.gitkeep
data/logs/dead_letter/*
!data/logs/dead_letter/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
