
# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Data
data/raw/*
!data/raw/.gitkeep
data/db.sqlite3
data/logs/*
!data/logs/.gitkeep
data/logs/dead_letter/*
!data/logs/dead_letter/.gitkeep

# OS
.DS_Store
